// Colours - Light
// - #f8f8ff
// - #dcc3c3
// - #E4F0D8
// - add8e6

// FONT
$default-font-size: 1.4rem;
$default-text-colour: #f8f8ff;
$nav-text-colour: black;

// NavBar
$default-navbar-colour: #174e61;
$default-navbar-fontsize: 1.2rem;
$default-logo-size: 2rem;
$default-logo-text-colour: #fff;
$default-nav-link-colour: #fff;
$default-icon-colour: #fff;

// Hero
$default-hero-bg-colour: #add8e6;

// Button
$default-button-colour: #fff;
$default-button-outline: #fff;
