// FONT
$default-font-size: 1.4rem;
$default-text-colour: #f8f8ff;
$landing-background-image: url("../../assets/landing.jpg");
$nav-text-colour: black;

// NavBar
$default-navbar-colour: #1c2237;
$default-navbar-fontsize: 1.2rem;
$default-logo-size: 2rem;
$default-logo-text-colour: #fff;
$default-nav-link-colour: #fff;
